<%- include("../partials/contactheader") %>
<div class="container">

  <div class="container rounded bg1 bg-light">
    
    <div id="contact" class="container-fluid">
      <br>
      <h2 class="text-center">CONTACT US</h2><hr>
      <div class="row">

        <div class="col-sm-5">
          
          
          <p><span><i class="fa fa-phone fa-flip-horizontal"></i></span> Call Us On <b>9632784040</b></p>
          <p><i class="fas fa-envelope"></i> shivagriservices@gmail.com </p>

          <hr>
          <p><span><i class="fas fa-map-marker-alt"></i></span> Head Office : </p>
         
          <p> Shiv Agri Services, Shop No.8-1504
             <br> 
              APMC Yard Nehru Gunj
              <br>
              <b> Kalaburagi-585104</b></p>
          <hr>
          <p><span><i class="fas fa-map-marker-alt"></i></span> Branch Address : </p>
         
          <p> Shiv Agri Services, Shop No.507
            <br> 
            Dasarahalli Bhuvaneswari nagar,
            <br>
            Lakshmi Temple 11th cross B 
            <br>
            <b> Bengaluru-560057</b>
          </p>
          <hr>

        </div>

      
      </div>
    </div>
    <!-- Image of location/map
    <img src="/w3images/map.jpg" class="w3-image w3-greyscale-min" style="width:100%"> -->
  </div>

  
  

</div>

<%- include("../partials/footer") %>
