<%- include("../partials/header") %>

<div class="container">

    <div class="jumbotron jumbotron-fluid my-1">
        <div class="container">
          <h1 class="display-4">For Free Trial, Join Our WhatsApp Groups</h1>
          <p class="lead">Get Instant WhatsApp Updates for 10 Days.
            </p>
        </div>
    </div>

    <div id="accordion" role="tablist" aria-multiselectable="true">

        <div class="card">
            <h5 class="card-header" role="tab" id="headingOne">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <i class="fa fa-chevron-down pull-right"></i> Pulses WhatsApp Group link
            </a>
            </h5>

            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-body">
                    <p><a href="https://chat.whatsapp.com/CqM7fCqcZQM2IxCj90Hc4Z">Click here</a>  
                        to join the WhatsApp Group of Pulses </p>
                </div>
            </div>
        </div>

        <div class="card">
            <h5 class="card-header" role="tab" id="headingTwo">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseOne" class="d-block">
                <i class="fa fa-chevron-down pull-right"></i> Veg-Oil & OilSeeds WhatsApp Group link
            </a>
            </h5>

            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="heading">
                <div class="card-body">
                    <p><a href="https://chat.whatsapp.com/IfZjJRwES3bATUt3aFv0kz">Click here</a>
                          to join the WhatsApp Group of Veg oil and Oil Seeds </p>
                </div>
            </div>
        </div>

        <div class="card">
            <h5 class="card-header" role="tab" id="headingThree">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseOne" class="d-block">
                <i class="fa fa-chevron-down pull-right"></i> Spices WhatsApp Group link
            </a>
            </h5>

            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="card-body">
                    <p><a href="https://chat.whatsapp.com/JvppcZS74DoIaV9nGAm1JS">Click here</a> 
                         to join the WhatsApp Group of Spices </p>
                </div>
            </div>
        </div>
     
        <div class="card">
            <h5 class="card-header" role="tab" id="headingFour">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree" class="d-block">
                <i class="fa fa-chevron-down pull-right"></i> Grain WhatsApp Group link
            </a>
            </h5>

            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="card-body">
                    <p><a href="https://chat.whatsapp.com/JhuaZDJUWbmAWb7UNiTfsQ">Click here</a> 
                         to join the WhatsApp Group of Grain </p>
                </div>
            </div>
        </div>  

        <div class="card">
            <h5 class="card-header" role="tab" id="headingFive">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseOne" class="d-block">
                <i class="fa fa-chevron-down pull-right"></i> Cotton WhatsApp Group link
            </a>
            </h5>

            <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="card-body">
                    <p><a href="https://chat.whatsapp.com/H0RdflDdpkv2f48Vz3DJeD">Click here</a> 
                         to join the WhatsApp Group of Cotton </p>
                </div>
            </div>
        </div>
        
    </div>

</div>


<script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
