<%- include("../partials/header") %>
    <div class="container">

      <div class="jumbotron jumbotron-fluid my-1">
        <div class="container">
          <h1 class="display-4"><B>Shiv Agri-Services</B></h1>
          <p class="lead">Connecting Agri Needs Globally.</p>
          
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-sm">
          <div class="card mb-1">
            <div class="card-header">
              What do you get?
            </div>
            <div class="card-body">
              <h5 class="card-title">Here what all you get</h5>
              <ul>
                <li>Market Yard rates</li>
                <li>Trading Center rates</li>
                <li>Import &amp; Export rates</li>
                <li>Indian Commodity Exchange rates (NCDEX, MCX)</li>
                <li>International Commodity Exchange rates</li>
                <li>Crop Estimates</li>
                <li>Weather Conditions</li>
                <li>Tenders Information</li>
                <li>etc.,</li>
              </ul>
             </div>
            <div class="card-footer">
              <small class="text-muted"></small>
            </div>
          </div>
          <div class="card">
            <!-- <div class="card-header">
            </div> -->
            <div class="card-body">
              <h6 class="card-title">Get 10 Days Free Trial</h6>
              <a href="freetrials" class="badge badge-primary">Try Our Free Trial</a>
            </div>
            <div class="card-footer">
              <small class="text-muted"></small>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <img src="images/banner1.jpg" alt="banner" style="width:100%; margin-bottom:20px;">
              <h4>Welcome to Shiv Agri Services.</h4>
              <p>Shiv Agri Services is a company started by a group of young Engineers and trade professionals
                 who have had a long association (cumulatively more than 40 years) with the Indian Agribusiness Sector.
              </p>

              <p>The agribusiness sector is characterized by multi layered channels on the Agricultural Input and Output side, poor quality of information and analysis about Demand, Supply, Prices, Market Trends for various agri-commodities. The promoters of this organization, coming from an Agricultural background felt the need to address these anomalies in this sector and therefore have come together to create a
                 professional team and an organization to deliver value to the participants at all the levels in this sector.</p>

            </div>
            <div class="card-footer">
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      
        <div class="col-sm">
          <div class="card">            
            <div class="card-header">
              Commodity Names
            </div>
            <div class="card-body">
              <!-- <h5 class="card-title">Commodity Names</h5> -->
              <ul>
                <h6>PULSES ALL</h6>
                <li>CHANA (CHICK PEA)</li> 
                <li>TOOR (PIGEON PEA)</li>
                <li>URAD (BLACK MATPE)</li>
                <li>MOONG (MUNG BEAN)</li>
                <li>MASOOR</li> 
              </ul>
              <ul>
                <h6>VEG-OILS & OIL SEEDS </h6>
                <li>VEG-OILS ALL</li>
                <li>SOYABEAN</li>
                <li>GROUNDNUT (PEANUT)</li>
                <li>OIL SEED</li>
                <li>RAPESEED</li>
              </ul>
              <ul>
                <h6>SPICES & DRY FRUITS RATES</h6>
                <li>RED CHILLIES</li>
                <li>BLACK PEPPER</li>
                <li>TURMERIC</li>
                <li>CARDAMOM</li>
                <li>JEERA</li>
                <li>CORRIANDER</li>
              </ul>
              <ul>
                <h6>GRAINS</h6>
                <li>WHEAT</li>
                <li>RICE (CHAWAL)</li>
                <li>MAIZE</li>
              </ul>
              <ul>
                <h6>COTTON RATES</h6>
                <li>COTTON</li>
              </ul>
           
             </div>
             <div class="card-footer">
              <small class="text-muted"></small>
            </div>
           

          </div>
        </div>

      </div>
    </div> 

      
    <%- include("../partials/footer") %>