<%- include("../partials/header") %>

<div class="container">

    <!-- whatsapp join -->

    <div class="card text-center my-4">
   
      <div class="card-header">
        Get Instant Updates on Your Whatsapp
      
      </div>
      <div class="card-body">
       
        <div>
          <h4 class="card-title">Spices Live Rate (Price) <span class="badge badge-pill badge-success">Live</span></h4>
          <p>In this service, we provide our clients “<span style="color: #ff0000;">Spices Live Rate (Price) 24/7</span>”
          </p>
          <p>You can also avail <a href="freetrials.ejs"><span style="color: #0000ff;">Free Trial</span></a>
             of “<span style="color: #ff0000;">Spices Live Rate (Price) Today</span>” for 10 days to test our consistency and should subscribe with us after getting satisfied only.
              We communicate through whatsapp.</p>
          <p>We provide live trade reports of the following Agri commodities In Spices</p>
        </div>
      </div>
     
    </div>


  <!-- this is image view  -->
  <div class="card-deck my-1">
    <div class="card">
      <img class="card-img-top" src="images/spice/redchilli.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Red Chilli</h5>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="images/spice/blackpepper.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Black Pepper</h5>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="images/spice/turmeric.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Turmeric</h5>
      </div>
    </div>
  </div>

  <div class="card-deck my-2">
    <div class="card">
      <img class="card-img-top" src="images/spice/cardamom.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Cardamom</h5>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="images/spice/jeera.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Jeera</h5>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="images/spice/dhania.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Coriander</h5>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>
